<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteBase /
  RewriteCond %{SERVER_PORT} 80
  RewriteRule ^(.*)$ http://golisodastore.com/$1 [R,L]
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
  
  Redirect 301 /Goli-Soda-Probiotics-Sulphate-Free-Shampoo-Bar-For-Normal-Hair-90-gm-All-Natural-Biodegradable-Non-Toxic-Cruelty-Free-Palm-Oil-Free  https://golisodastore.com/products/goli-soda-all-natural-probiotics-shampoo-bar-for-normal-hair-90-g
  Redirect 301 /Goli-Soda-Probiotics-Sulphate-Free-Shampoo-Bar-For-Oily-Hair-90-gm-All-Natural-Biodegradable-Non-Toxic-Cruelty-Free-Palm-Oil-Free https://golisodastore.com/products/goli-soda-all-natural-probiotics-shampoo-bar-for-oily-hair-90-g
  Redirect 301 /Goli-Soda-offer-All-Natural-Probiotics-Rejuvenating-Face-Wash-Bar https://golisodastore.com/products/goli-soda-all-natural-probiotics-face-wash-soap-90-g
  Redirect 301 /personal-care-fitness/skin-care https://golisodastore.com/products?categories=skin-care  
  Redirect 301 /contact https://golisodastore.com/contact-us   
  Redirect 301 /personal-care-fitness/hair-care https://golisodastore.com/products?categories=hair-care
  Redirect 301 /Goli-Soda-Go-Green-Thamboolam-Bag-Set-Of-4-Small-offer https://golisodastore.com/products/goli-soda-go-green-keep-it-fresh-thamboolam-bag-set-of-4  
  Redirect 301 /Goli-Soda-All-Natural-Probiotics-Shave-Bar-And-Face-Wash-Soap- https://golisodastore.com/products/goli-soda-all-natural-probiotics-shave-bar-and-face-wash-soap-combo
  Redirect 301 /manufacturer https://golisodastore.com/brands
  Redirect 301 /Maniams-Paheli https://golisodastore.com/products/maniams-paheli
  Redirect 301 /Fabpad-Women-Reusable-Leak-Proof-Period-Panty-Lasts-For-3-Years-Without-Pads-Cups-Tampons https://golisodastore.com/products/fabpad-women-reusable-leak-proof-period-panty-lasts-for-3-years-without-pads-cups-tampons-black
  Redirect 301 /Shumee-Wooden-Rocking-Horse-Toy-For-Baby-Toddlers-1-3-Years-Old https://golisodastore.com/products/shumee-wooden-rocking-horse-toy-for-baby-toddlers-1-3-years-old
  Redirect 301 /Shop-by-Brand/HaathiChaap https://golisodastore.com/products?search=Haathi%20Chaap
  Redirect 301 /Fabpad-Foldable-Reusable-Washable-Cloth-Pads-Sanitary-Napkin-Pack-Of-2 https://golisodastore.com/products/fabpad-foldable-reusable-washable-cloth-pads-sanitary-napkin-pack-of-2
  Redirect 301 /OnEarth-Golu-Gullak-Coconut-Shell-Gannu-Bank https://golisodastore.com/products/onearth-golu-gullak-coconut-shell-gannu-bank
  Redirect 301 /Jivika-Naturals-Vedic-Hand-Churned-Bilona-A2-Gir-Cow-Ghee-Neyee-250ml https://golisodastore.com/products/jivika-naturals-vedic-hand-churned-bilona-a2-gir-cow-ghee-neyee-250-ml
  Redirect 301 /GOLI-SODA-All-Natural-Probiotic-De-Greasing-Agent-Dishwash-Bar-Set-of-2 https://golisodastore.com/products/goli-soda-all-natural-probiotics-dish-wash-bar-90-g-pack-of-2
  Redirect 301 /The-Grass-Route-Toothpaste-Tablets https://golisodastore.com/products/the-grass-route-toothpaste-tablets-60-tablets
  Redirect 301 /sruti-harihara-subramanian-golisoda-founder-ficci-young-achiever-2019/ https://golisodastore.com/blog/sruti-harihara-subramanian-golisoda-founder-ficci-young-achiever-2019/
  Redirect 301 /Jivika-Naturals-Desi-A2-Cow-Ghee-Bilona-Ghee-500ml https://golisodastore.com/products/jivika-naturals-desi-a2-cow-ghee-bilona-ghee-500-ml
  Redirect 301 /Jivika-Naturals-Pure-Hing-Asafoetida-Hand-Pounded-Aromatic-No-Wheat-Flour-10-G https://golisodastore.com/products/jivika-naturals-pure-hing-asafoetida-hand-pounded-aromatic-no-wheat-flour-10-g
  Redirect 301 /Superbottoms-Dry-Feel-Langot-Printed-Pack-of-3 https://golisodastore.com/products/superbottoms-dry-feel-printed-langot-nappy-for-babies-pack-of-3
  Redirect 301 /Daily-Dump-Khamba-3-Tier-Large-Terracotta https://golisodastore.com/products/daily-dump-khamba-3-tier-large-terracotta
  Redirect 301 /Reborn-T-Shirt-For-Men https://golisodastore.com/products/reborn-t-shirt-for-men
  Redirect 301 /Goli-Soda-Natural-Coconut-Coir-Dishwashing-Scrub-Pads-Combo-Pack-Of-6-Scrubs-Biodegradable-Eco-Friendly https://golisodastore.com/products/goli-soda-coconut-coir-scrub-and-probiotic-dishwash-bar-exclusive-combo
  Redirect 301 /Goli-Soda-offer-Upcycled-Plain-Newspaper-Pencils-Pack-of-10 https://golisodastore.com/products?brands=goli-soda
  Redirect 301 /Goli-Soda-offer-Upcycled-Plain-Newspaper-Pencils-Pack-of-10 https://golisodastore.com/products/goli-soda-upcycled-plain-newspaper-pencils-pack-of-10
  Redirect 301 /Fabpad-Reusable-Washable-Sanitary-Cloth-Pads-Napkins-Pink-Pack-Of-4 https://golisodastore.com/products/fabpad-reusable-washable-sanitary-cloth-pads-napkins-pink-pack-of-4
  Redirect 301 /Goli-Soda-All-Natural-Probiotics-Hair-Conditioner-For-Healthy-Voluminous-Hair https://golisodastore.com/products/goli-soda-all-natural-probiotics-hair-conditioner-for-healthy-voluminous-hair-130-g
  Redirect 301 /about_us https://golisodastore.com/about-us
  Redirect 301 /RUR-Greenlife-Clip-Board-Exam-Pad https://golisodastore.com/products/rur-greenlife-clip-board-exam-pad
  Redirect 301 /Zero-Emissions-T-Shirt-For-Men https://golisodastore.com/products/zero-emissions-t-shirt-for-men
  Redirect 301 /Her-Cup-Platinum-Cured-Medical-Grade-Silicone-Menstrual-Cup-For-Women https://golisodastore.com/products/her-cup-platinum-cured-medical-grade-silicone-menstrual-cup-for-women-by-goli-soda-regular-size
  Redirect 301 /GOLI-SODA-All-Natural-Probiotics-Baby-Bottle-Dishwash-Bar https://golisodastore.com/products/goli-soda-all-natural-probiotics-baby-bottle-dishwash-bar-90-g
  Redirect 301 /Goli-Soda-Neem-Wood-Comb-Combo-Wide-Tooth-with-Handle-Double-Tooth https://golisodastore.com/products/goli-soda-neem-wood-combs-wide-tooth-with-handle-double-tooth
  Redirect 301 /Earth-Fokus-Quamist-Dual-Mode-Water-Saving-Nozzle https://golisodastore.com/products/earth-fokus-quamist-dual-mode-water-saving-nozzle
  Redirect 301 /BOTL-Upcycled-Old-Fashioned-Whiskey-Glasses-Green-250ml https://golisodastore.com/products/botl-upcycled-old-fashioned-whiskey-glasses-green-250-ml-set-of-6
  Redirect 301 /personal-care-fitness/women-hygiene/cups https://golisodastore.com/products?categories=cups-womens-hygiene
  Redirect 301 /stationery https://golisodastore.com/products?categories=stationery
  Redirect 301 /Earth-Fokus-Quamist-360-Dual-Mode-Water-Saving-Nozzle-Standard-Size-Tap https://golisodastore.com/products/earth-fokus-quamist-360-dual-mode-water-saving-nozzle-standard-size-tap
  Redirect 301 /OnEarth-Coconut-Shell-Bowl-Family-Pack-4-Different-Sizes https://golisodastore.com/products/onearth-coconut-shell-bowl-family-pack-4-different-sizes
  Redirect 301 /Sustainable-And-Sexy-T-Shirt-For-Women https://golisodastore.com/products/sustainable-and-sexy-t-shirt-for-women
  Redirect 301 /Conscience-Organic-Cotton-Mens-Shirt-HS-BLK https://golisodastore.com/products/conscience-organic-cotton-mens-shirt-hs
  Redirect 301 /Goli-Soda-All-Natural-Probiotics-Shave-Bar-offer https://golisodastore.com/products/goli-soda-all-natural-probiotics-shave-bar-90-g
  Redirect 301 /Ecosattva-GreenWrap-Eco-Friendly-Honeycomb-Paper-Expands-upto-70-Replacement-for-Bubble-Wrap-500-MM-250-Meters-Pack-of-1 https://golisodastore.com/products/ecosattva-greenwrap-eco-friendly-honeycomb-paper-expands-upto-70-replacement-for-bubble-wrap-500-mm-x-250-meters
  Redirect 301 /Goli-Soda-Go-Green-Thamboolam-Bag-Set-Of-4-Medium-offer https://golisodastore.com/products/goli-soda-go-green-keep-it-fresh-thamboolam-bag-set-of-4
  Redirect 301 /blog/frequently-asked-questions-faq-dry-hair/ https://golisodastore.com/products?search=DRY%20HAIR
  Redirect 301 /terms_condition https://golisodastore.com/terms-conditions
  Redirect 301 /Jivika-Naturals-Vedic-Hand-Churned-Bilona-A2-Gir-Cow-Ghee-Neyee-1L https://golisodastore.com/products/jivika-naturals-vedic-hand-churned-bilona-a2-gir-cow-ghee-neyee-1l
  Redirect 301 /Thenga-Coconut-Cup-Natural-Handmade-Tea-Smoothie-Juice-200ml-Set-Of-2 https://golisodastore.com/products/thenga-coconut-cup-natural-handmade-tea-smoothie-juice-200-ml-set-of-2
  Redirect 301 /Fabpad-Reusable-Washable-Sanitary-Cloth-Pads-Napkins-Eco-Friendly-Menstrual-Hygiene-Solutions-Pink-Pack-of-2-Regular-Maxi-Size https://golisodastore.com/products/fabpad-reusable-washable-sanitary-cloth-pads-napkins-eco-friendly-menstrual-hygiene-solutions-pink-pack-of-2
  Redirect 301 /blog/every-drop-counts-10-simple-ways-to-save-water/ https://golisodastore.com/blog/
  Redirect 301 /Thenga-Coconut-Shell-Spoon-Fork-Set-Of-2-Eco-Friendly-Natural-Handmade https://golisodastore.com/products/thenga-coconut-shell-spoon-fork-set-of-2-eco-friendly-natural-handmade
  Redirect 301 /delivery_shipping_policy https://golisodastore.com/shipping-delivery
  Redirect 301 /BOTL-Small-Clear-Drinking-Glasses-300ml-Set-Of-6 https://golisodastore.com/products/botls-small-clear-drinking-glasses-300-ml-set-of-6
  Redirect 301 /blog/my-paati-strongest/?path=/home/golisodastore/public_html https://golisodastore.com/blog/
  Redirect 301 /login https://golisodastore.com/
  Redirect 301 /Thenga-Coconut-Shell-Eco-Friendly-Soap-Dish-Set-Of-2 https://golisodastore.com/products/thenga-coconut-shell-eco-friendly-soap-dish-set-of-2
  Redirect 301 /Thenga-Coconut-Combo-Set-700Ml-450Ml-150Ml-200Ml https://golisodastore.com/products/thenga-coconut-combo-set-700-ml-450-ml-150-ml-200-ml
  Redirect 301 /Thenga-Artisan-Jumbo-Polished-Coconut-Bowl-Spoon-Fork-Natural-Perfect-For-Breakfast-Smoothie-Salad-900Ml https://golisodastore.com/products/thenga-artisan-jumbo-polished-coconut-bowl-spoon-fork-100-natural-perfect-for-breakfast-smoothie-salad-900-ml
  Redirect 301 /Shop-by-Brand/Vishisht-Lifestyle https://golisodastore.com/products?brands=vishisht
  Redirect 301 /blog/menstrual-cup/ https://golisodastore.com/blog/menstrual-cup/
  Redirect 301 /OnEarth-Toilet-Cleaning-Coir-Brush https://golisodastore.com/products/onearth-toilet-cleaning-coir-brush
  
    Redirect 301 /Shop-by-Brand/Goli-soda https://golisodastore.com/products?brands=goli-soda
    
  Redirect 301 /Shop-by-Brand/YamiHerbals https://golisodastore.com/products?brands=yami-herbals
  Redirect 301 /Goli-Soda-All-Natural-Probiotics-Conditioner-And-Shampoo-Bar https://golisodastore.com/products/goli-soda-all-natural-probiotics-conditioner-and-shampoo-bar
  Redirect 301 /Water-T-Shirt-For-Men https://golisodastore.com/products/water-t-shirt-for-men
  Redirect 301 /blog/three-types-of-water-in-every-home-and-every-restaurant-and-institution/ https://golisodastore.com/blog/three-bits-of-important-news-and-how-they-can-inspire-changes-in-our-lives-2/
  Redirect 301 /Thenga-Traditional-Coconut-Shell-Wood-Cooking-Set-5-piece-1-Spatula-1-Large-Spoon-3-Size-Ladles https://golisodastore.com/products/thenga-traditional-coconut-shell-wood-cooking-set-5-piece-1-spatula1-large-spoon3-size-ladles
  Redirect 301 /Goli-Soda-Keep-It-Fresh-Thamboolam-Bag-SetOf4-Small-offer https://golisodastore.com/products/goli-soda-go-green-keep-it-fresh-thamboolam-bag-set-of-4
  Redirect 301 /personal-care-fitness/beauty https://golisodastore.com/products?categories=beauty
  Redirect 301 /Shop-by-Brand/TheBareBar https://golisodastore.com/products?brands=the-bare-bar
  Redirect 301 /SochGreen-Reusable-Washable-Leakproof-Absorbent-Period-Panty-Hipster-Pink https://golisodastore.com/products/sochgreen-organic-reusablewashableleakproofabsorbent-period-panty-hipster
  Redirect 301 /Goli-Soda-Newspaper-Colour-Pencils-10-Colours https://golisodastore.com/products/goli-soda-newspaper-colour-pencils-10-colours
  Redirect 301 /Goli-Soda-Neem-Wood-Comb-Double-Tooth https://golisodastore.com/products/goli-soda-neem-wood-comb
  Redirect 301 /SochGreen-Reusable-Washable-Leakproof-Absorbent-Period-Panty-Hipster https://golisodastore.com/products/sochgreen-organic-reusablewashableleakproofabsorbent-period-panty-hipster
  Redirect 301 /blog/shampoo-bar/ https://golisodastore.com/blog/shampoo-bars/
  Redirect 301 /GOLI-SODA-Go-Green-Keep-It-Fresh-Thamboolam-Bag-Set-Of-4- https://golisodastore.com/products/goli-soda-go-green-keep-it-fresh-thamboolam-bag-set-of-4
  Redirect 301 /Thenga-Natural-Handmade-Coconut-Shell-Serving-Spoon https://golisodastore.com/products/thenga-natural-handmade-coconut-shell-serving-spoon
  Redirect 301 /personal-care-fitness/deodorants https://golisodastore.com/products?categories=deodorants
  Redirect 301 /Earth-Fokus-Ecomist-95percent-Water-Saver-Standard-Size-Taps https://golisodastore.com/products/earth-fokus-ecomist-95-water-saver-standard-size-taps
  Redirect 301 /Thenga-Coconut-Shell-Container-With-Lid-Small-Spoon-600Ml-Capacity https://golisodastore.com/products/thenga-coconut-shell-container-with-lid-small-spoon-600-ml-capacity
  Redirect 301 /Daily-Dump-Leave-it-pot-Tiny-Teracotta https://golisodastore.com/products/daily-dump-leave-it-pot-tiny-teracotta
  Redirect 301 /Maniams-Krazy-Kolam-Colour https://golisodastore.com/products/maniams-krazy-kolam-colour
  Redirect 301 /EarthFokus-Ecostream-Kitchen-Water-Saving-Aerator-3LPM https://golisodastore.com/products/earth-fokus-ecostream-kitchen-water-saving-aerator-3-lpm
  Redirect 301 /Goli-Soda-Bamboo-Toothbrush-offer https://golisodastore.com/products/goli-soda-bamboo-toothbrush-bpa-free-vegan-verified-non-toxic-adults
  Redirect 301 /OnEarth-Jumbo-Coconut-Shell-Bowl-With-Spoon-Pack-1 https://golisodastore.com/products/onearth-jumbo-coconut-shell-bowl-with-spoon-pack-1
  Redirect 301 /Shop-by-Brand/EarthFokus https://golisodastore.com/products?brands=earth-fokus
  Redirect 301 /GoliSoda-All-Natural-Probiotics-Cloth-Pad-Diaper-Soap90G-PackOf3 https://golisodastore.com/products/goli-soda-all-natural-probiotics-cloth-pad-diaper-soap-90-g-pack-of-3
  Redirect 301 /Skola-Sandpaper-Letters-Cursive https://golisodastore.com/products/skola-sandpaper-letters-cursive
  Redirect 301 /OnEarth-Water-Reed-Kauna-Grass-Basket https://golisodastore.com/products/onearth-water-reed-kauna-grass-basket
  Redirect 301 /groceries-and-essentials/cooking-ingredients https://golisodastore.com/products?categories=cooking-ingredients
  Redirect 301 /blog/5-incredibly-simple-ways-to-reduce-food-waste/ https://golisodastore.com/blog/5-incredibly-simple-ways-to-reduce-food-waste/
  Redirect 301 /Skola-Sand-Art https://golisodastore.com/products/skola-sand-art
  Redirect 301 /blog/5-incredibly-simple-ways-to-reduce-food-waste/?fileloc=/home/golisodastore/public_html/blog/index.php&path=/home/golisodastore/public_html/blog https://golisodastore.com/blog/5-incredibly-simple-ways-to-reduce-food-waste/
  Redirect 301 /Ashvita-Design-Studio-Up-Cycled-Bottles-Multi-Purpose-Blue-Pink-Green-Flower-vase https://golisodastore.com/products/upcycled-beer-bottle-for-multipurpose-red
  Redirect 301 /Goli-Soda-Set-of-4-Reusable-Cotton-Produce-Bags-Fruit-Go-Green-Small-Medium-offer https://golisodastore.com/products/goli-soda-keep-it-fresh-go-green-reusable-cotton-produce-bags-for-storage-small
  Redirect 301 /Thenga-Coconut-Shell-Eco-Friendly-Shot-Glass-Wine-Glass-Set-Of-4 https://golisodastore.com/products/thenga-coconut-shell-eco-friendly-shot-glass-wine-glassset-of-4
  Redirect 301 /Arth-Sambrani-Cup https://golisodastore.com/products/arth-sambrani-cup
  Redirect 301 /blog/shampoo-bars/ https://golisodastore.com/blog/shampoo-bars/
  Redirect 301 /Ecotyl-Body-Loofah-2-pc-Pack-Of-2 https://golisodastore.com/products/ecotyl-body-loofah-for-gentle-exfoliation-natural-loofah-set-of-4
  Redirect 301 /Conscience-Organic-Cotton-Boys-Kurta-FS1 https://golisodastore.com/products/conscience-organic-cotton-boys-kurta-fs
  Redirect 301 /Dhoop-Sticks-Combo https://golisodastore.com/products/arth-dhoop-stick
  Redirect 301 /Shumee-Ele-amp-Ball-Baby-Rattle-Organic-Plush-Soft-Toy-0-3-years https://golisodastore.com/products/shumee-ele-ball-baby-rattle-organic-plush-soft-toy-0-3-years
  Redirect 301 /Thenga-Coconut-Shell-Eco-Friendly-Candle-Diya-Set-Of-2-Coconut-Scented https://golisodastore.com/products/thenga-coconut-shell-eco-friendly-candlediya-set-of-2-coconut-scented
  Redirect 301 /Earth-Fokus-Ecoshower-Tap-Water-Saving-Aerator https://golisodastore.com/products/earth-fokus-ecoshower-tap-water-saving-aerator
  Redirect 301 /Arth-Loban-Cup-Wooden-Box-Holder-Large https://golisodastore.com/products/arth-loban-cup-wooden-box-holder-large
  Redirect 301 /Goli-Soda-Keep-It-Fresh-Reusable-Cotton-Vegetable-Bag-Small-Pack-Of-6-offer https://golisodastore.com/products/goli-soda-reusable-cotton-go-green-keep-it-fresh-produce-bag-pack-of-6
  Redirect 301 /Skola-Sandpaper-Letters-Upper-Case https://golisodastore.com/products/skola-sandpaper-letters-upper-case
  Redirect 301 /Qidhan-Rakthashali-Iron-Rich-Medicinal-Rice-1-kg https://golisodastore.com/products/qidhan-rakthashali-iron-rich-medicinal-rice-1-kg
  Redirect 301 /Shop-by-Brand/KamarkattuEcostore https://golisodastore.com/products?brands=kamarkattu-ecostore
  Redirect 301 /Jivika-Naturals-Pure-Natural-Forest-Honey-NMR-Passed-250-gms https://golisodastore.com/products/jivika-naturals-pure-natural-forest-honey-nmr-passed-250-gms
  Redirect 301 /Almitra-Sustainables-Stainless-Steel-straw-Straight-Pack-of-2-with-1-Cleaner https://golisodastore.com/products/almitra-sustainables-stainless-steel-straw-straight-pack-of-2-with-1-cleaner
  Redirect 301 /The-Bare-Bar-Deodorant-50-G https://golisodastore.com/products/the-bare-bar-deodorant-50-g
  Redirect 301 /Arth-Loban-Cup-Wooden-Box-Holder-Medium https://golisodastore.com/products/arth-loban-cup-wooden-box-holder-medium
  Redirect 301 /Reborn-T-Shirt-For-Women https://golisodastore.com/products/reborn-t-shirt-for-women
  Redirect 301 /Shumee-Build-A-City-Wooden-Puzzle-Toy-Set-2-5-years https://golisodastore.com/products/shumee-build-a-city-wooden-puzzle-toy-set-2-5-years
  Redirect 301 /personal-care-fitness/women-hygiene/cloth_pads https://golisodastore.com/products?categories=cloth-pads
  Redirect 301 /stationery/green-packaging https://golisodastore.com/products?categories=green-packing-stationery
  Redirect 301 /Origami-Good-Karma-Kitchen-Towel-2-Ply-75-Pull-Pack-Of-2 https://golisodastore.com/products/origami-good-karma-kitchen-towel-2-ply-75-pull-pack-of-2
  Redirect 301 /Satopradhan-Sprouting-Jar-Kit-Unique-Strainer-Cap-and-Seed-Mix-Pack-Thoughtfully-Designed-Easy-to-Use-DIY-Growing-Kit https://golisodastore.com/products/satopradhan-sprouting-jar-kit-unique-strainer-cap-and-seed-mix-pack-thoughtfully-designed-easy-to-use-diy-growing-kit
  Redirect 301 /blog/category/out-reach-program/ https://golisodastore.com/blog/out-reach-program/
  Redirect 301 /Eco-Femme-GOTS-Certified-1-Day-Pad-Plus-Vibrant-Organic-Reusable-Sanitary-Pads-Cloth-Menstrual-Pads-Washable-Cloth-Pads https://golisodastore.com/products/eco-femme-vibrant-organic-day-pad-plus
  Redirect 301 /Fabpad-Women-Reusable-Leak-Proof-Period-Panty-Lasts-For-3-Years-Without-Pads-Cups-Tampons-Black-Small-28-31-Inches https://golisodastore.com/products/fabpad-women-reusable-leak-proof-period-panty-lasts-for-3-years-without-pads-cups-tampons-black
  Redirect 301 /bags https://golisodastore.com/products?categories=bags-footwear
  Redirect 301 /SuperBottoms-UNO-Freesize-Adjustable-Cloth-Diaper-For-Babies-Pack-Of-1-5-To-17-Kgs https://golisodastore.com/products/superbottoms-uno-freesize-adjustable-cloth-diaper-for-babies-pack-of-1-5-to-17-kgs
  Redirect 301 /SuperBottoms-Newborn-UNO-Diaper-For-Babies-Pack-of-1 https://golisodastore.com/products/superbottoms-newborn-uno-diaper-for-babies-pack-of-1
  Redirect 301 /Shumee-Thirsty-Crow-Board-Game-Fun-family-game https://golisodastore.com/products/shumee-thirsty-crow-board-game-fun-family-game
  Redirect 301 /Bravo-Crafts-Things-In-My-Head-Sustainable-Printed-Diary https://golisodastore.com/products/bravo-crafts-things-in-my-head-sustainable-printed-diary
  Redirect 301 /Beco-Eco-Friendly-Reusable-Kitchen-Towel-Roll-20-Sheets-Natural-Organic-Cleaning-Bamboo-Cloth-No-Trees-Cut https://golisodastore.com/products/beco-eco-friendly-reusable-kitchen-towel-roll-20-sheets-natural-organic-cleaning-bamboo-cloth-no-trees-cut
  Redirect 301 /Thenga-Coconut-Shell-Macrame-Plant-Hanger-For-Indoor-Balcony https://golisodastore.com/products/thenga-coconut-shell-macrame-plant-hanger-for-indoor-balcony
  Redirect 301 /OnEarth-Coconut-Coir-Banister-Brush https://golisodastore.com/products/onearth-coconut-coir-banister-brush
  Redirect 301 /Arth-Camphor-Kapur https://golisodastore.com/products/arth-camphorkapur
  Redirect 301 /Tree-Wear-Incense-Sticks-Pack-Of-40 https://golisodastore.com/products/tree-wear-incense-sticks-pack-of-40
  Redirect 301 /Arth-Dhoop-Stick https://golisodastore.com/products/arth-dhoop-stick

</IfModule>

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php81” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php81 .php .php8 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit